.production3{
    width: 100%;
    margin-top: 30px;
	margin-bottom: 50px;
}
.production3 p{
    width: 60%;
    font-size: 14px;
    color: #666666;
    margin: 0 auto;
    text-align: center;
}
.manhu{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 10px;
}
.manhu ul{
	list-style-type: none;
	
}
.manhu ul li{
	display: inline;
	float: left;
	margin: 2.5px 2.5px;
	/* border: 1px solid #D8D8D8; */
	box-shadow:2px 2px 2px #D8D8D8,-2px -2px 2px #D8D8D8;
}